
@{
    ViewData["Title"] = "Helper";
    Layout = "~/Views/Shared/_HelperLayout.cshtml";
}

<link href="~/help/styles.css" rel="stylesheet" />

<div class="faq">
    <div class="faq-q">
        <span>
            <b>Register To Get Started</b>
        </span>
        <p>
            To be able to book an appointment you need register to the system first.  Click the register button to register yourself and then you will be able to book appointments at any public hospital across the country.
        </p>
    </div>
    <div class="faq-q">
        <span>
            <b>Find Hospital</b>
        </span>
        <p>
            The find hospital search will help you to find information on any specific hospital throughout South Africa by using the search criteria.The results will with contact information as well as physical address of the hospital.
        </p>
    </div>
    <div class="faq-q">
        <span>
            <b>Book Appointment</b>
        </span>
        <p>
            Book appointment is a convenient medical booking service designed to assist You with all your medical appointments. Get extensive healthcare assistance on public hospitals across the country.Appointment are made for You based on doctor/nurse availability for that specific day.
        </p>
    </div>
    <div class="faq-q">
        <span>
            <b>Cancel Appointment</b>
        </span>
        <p>
            We offer 2 convenient ways to book or cancel your medical appointments.Current patients may cancel their existing appointments directly with our online system.
        </p>
    </div>
    <div class="faq-q">
        <span>
            <b>Patient Medical Record</b>
        </span>
        <p>
            Patient can view their medical records.
        </p>
    </div>
    <div class="faq-q">
        <span>
            <b>FAQs</b>
        </span>
        <p>
            Have a question about going in and booking an appointment into the hospital? Look at our frequently asked questions. We have gathered some of the most common questions from patients and answered them here. </br> </br>
            <a asp-action="FAQs" asp-controller="Account">Click Here!!!</a>
        </p>
    </div>
    
</div>